@using Lab26.Models;
@{
    ViewBag.Title = "Item List";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<form action="~/Home/ItemListByDescription" method="get">
    <label>
        Search by Description:
        <input type="text" name="Description" class="form-control" />
    </label>
    <input type="submit" value="Search by Description" class="btn btn-primary" />
</form>
<br />

<table class="table table-bordered">
    <tr>
        <th><a href="~/Home/ItemListSorted?column=ID">Item Number</a></th>
        <th><a href="~/Home/ItemListSorted?column=Name">Item Name</a></th>
        <th><a href="~/Home/ItemListSorted?column=Description">Description</a></th>
        <th><a href="~/Home/ItemListSorted?column=Quantity">Quantity</a></th>
        <th><a href="~/Home/ItemListSorted?column=Price">Price</a></th>
        <th>Action</th>
    </tr>
    @foreach (Item i in ViewBag.Items)
    {
        <tr>
            <td>@i.ID</td>
            <td>@i.Name</td>
            <td>@i.Description</td>
            <td>@i.Quantity</td>
            <td>@i.Price</td>
            <td>
                <a href="~/Home/Add?id=@i.ID"
                   class="btn btn-primary">Add to Bag</a>
            </td>
        </tr>
    }
</table>